<h1>Modifica Evento</h1>
<style>
  #dataFineRicorrenza {
    display: none;
    /* Nascondi il campo di input per la dataFineRicorrenza all'avvio */
  }

  #labelDataFineRicorrenza {
    display: none;
    /* Nascondi il campo di input per la dataFineRicorrenza all'avvio */
  }
</style>

<#if evento.key==0>
  <form method="post" action="ModificaEvento">
    <input type="hidden" name="e_key" value="0">
    <input type="hidden" name="IDMaster" value="0">
    <p>Ora Inizio:</p>
    <input type="time" name="oraInizio">
    <p>Ora Fine:</p>
    <input type="time" name="oraFine">
    <p>Descrizione:</p>
    <input type="text" name="descrizione">
    <p>Tipologia Evento:</p>
    <input type="text" name="tipologiaEvento">
    <p>Nome:</p>
    <input type="text" name="nome">
    <p>Nome Aula:</p>
    <input type="text" name="a_name">
    <p>Corso:</p>
    <input type="text" name="corso">
    <p>Email Responsabile:</p>
    <input type="text" name="emailR">
    <p>Data:</p>
    <input type="date" name="giorno">

    <label for="ricorrenza">Seleziona la ricorrenza:</label>
    <select id="ricorrenza" onchange="gestisciRicorrenza()" value="NESSUNA" name="ricorrenza">
      <option value="NESSUNA">NESSUNA</option>
      <option value="GIORNALIERA">GIORNALIERA</option>
      <option value="SETTIMANALE">SETTIMANALE</option>
      <option value="MENSILE">MENSILE</option>
    </select>
    <label for="dataFineRicorrenza" id="labelDataFineRicorrenza">Data Fine Ricorrenza:</label>
    <input type="date" id="dataFineRicorrenza">
    <input type="submit" name="conf" value="Conferma">
  </form>
  <#else>



    <form method="post" action="ModificaEvento">
      <#if evento.ricorrenza=="NESSUNA">
        <input type="hidden" name="IDMaster" value=0>
        <#else>
          <input type="hidden" name="IDMaster" value="${evento.IDMaster}">
      </#if>
      <input type="hidden" name="e_key" value="${evento.key}">
      <p>Ora Inizio:</p>
      <input type="time" name="oraInizio" value="${evento.oraInizio?string('HH:mm:ss')}">
      <p>Ora Fine:</p>
      <input type="time" name="oraFine" value="${evento.oraFine?string('HH:mm:ss')}">
      <p>Descrizione:</p>
      <input type="text" name="descrizione" value="${evento.descrizione}">
      <p>Tipologia Evento:</p>
      <input type="text" name="tipologiaEvento" value="${evento.tipologiaEvento}">
      <p>Nome:</p>
      <input type="text" name="nome" value="${evento.nome}">
      <p>Nome Aula:</p>
      <input type="text" name="a_name" value="${evento.aula.nome}">
      <p>Corso:</p>
      <input type="text" name="corso" value="${evento.corso.nome}">
      <p>Email Responsabile:</p>
      <input type="text" name="emailR" value="${evento.responsabile.email}">
      <p>Giorno:</p>
      <input type="date" name="giorno" value="${evento.data?string('yyyy-MM-dd')}">
      <#if evento.ricorrenza !="NESSUNA">
        <label for="ricorrenza">Seleziona la ricorrenza:</label>
        <select id="ricorrenza" onchange="gestisciRicorrenza()">
          <option value="NESSUNA">NESSUNA</option>
          <option value="GIORNALIERA">Opzione 1</option>
          <option value="SETTIMANALE">Opzione 2</option>
          <option value="MENSILE">Opzione 3</option>
        </select>
        <p>Data Fine Ricorrenza:</p>
        <label for="dataFineRicorrenza" id="labelDataFineRicorrenza">Data Fine Ricorrenza:</label>
        <input type="date" id="dataFineRicorrenza" value="${evento.dataFineRicorrenza?string('yyyy-MM-dd')}">
        <#else>
          <input type=" hidden" name="dataFineRicorrenza" value="0">
          <input type="hidden" name="ricorrenza" value="NESSUNA">
      </#if>
      <input type="submit" name="conf" value="Conferma">
      <input type="submit" name="delete" value="Elimina">
    </form>
</#if>

<script>
  var ricorrenza = "NESSUNA"; // Inizializza la variabile ricorrenza
  function gestisciRicorrenza() {
    ricorrenza = document.getElementById("ricorrenza").value;
    var dataFineRicorrenzaInput = document.getElementById("dataFineRicorrenza");
    var labelDataFineRicorrenza = document.getElementById("labelDataFineRicorrenza");

    if (ricorrenza === "NESSUNA") {
      dataFineRicorrenzaInput.value = ""; // Azzera il valore del campo data
      dataFineRicorrenzaInput.style.display = "none"; // Nascondi il campo di input
      labelDataFineRicorrenza.style.display = "none"; // Nascondi l'etichetta del campo
    } else {
      dataFineRicorrenzaInput.style.display = "inline"; // Mostra il campo di input
      labelDataFineRicorrenza.style.display = "inline"; // Mostra l'etichetta del campo
    }
  }
</script>
