<h1>Gestione Dipartimenti</h1>

<!-- Qui inserisci i dati della tabella -->

<table class="tableStyle">
    <thead>
        <tr class="tableTitle">           
            <th>Nome</th>
            <th>Descrizione</th>            
        </tr>
    </thead>
    <tbody>
        <#list dipartimenti as dipartimento>
        <tr class="tableContent">
            <td><a href="ModificaDipartimento?dip_key=${dipartimento.key}">${dipartimento.nome}</a></td>
            <td>${dipartimento.descrizione}</td>
        </tr>
        </#list>
    </tbody>
</table>







