<h1>Modifica Evento</h1>

<#if evento.key==0>
  <form method="post" action="ModificaEvento">
    <input type="hidden" name="e_key" value="0">
    <input type="hidden" name="IDMaster" value="0">
    <p>Ora Inizio:</p>
    <input type="time" name="oraInizio">
    <p>Ora Fine:</p>
    <input type="time" name="oraFine">
    <p>Descrizione:</p>
    <input type="text" name="descrizione">
    <p>Tipologia Evento:</p>
    <input type="text" name="tipologiaEvento">
    <p>Nome:</p>
    <input type="text" name="nome">
    <p>Nome Aula:</p>
    <input type="text" name="a_name">
    <p>Corso:</p>
    <input type="text" name="corso">
    <p>Email Responsabile:</p>
    <input type="text" name="emailR">
    <p>Giorno:</p>
    <input type="date" name="giorno">
    <p>Ricorrenza:</p>
    <input type="text" name="ricorrenza">
    <p>Data Fine Ricorrenza:</p>
    <input type="text" name="dataFineRicorrenza">
    <input type="submit" name="conf" value="Conferma">
  </form>
  <#else>



    <form method="post" action="ModificaEvento">
      <#if evento.ricorrenza=="NESSUNA">
        <input type="hidden" name="IDMaster" value=0>
        <#else>
          <input type="hidden" name="IDMaster" value="${evento.IDMaster}">
      </#if>
      <input type="hidden" name="e_key" value="${evento.key}">
      <p>Ora Inizio:</p>
      <input type="time" name="oraInizio" value="${evento.oraInizio?string('HH:mm:ss')}">
      <p>Ora Fine:</p>
      <input type="time" name="oraFine" value="${evento.oraFine?string('HH:mm:ss')}">
      <p>Descrizione:</p>
      <input type="text" name="descrizione" value="${evento.descrizione}">
      <p>Tipologia Evento:</p>
      <input type="text" name="tipologiaEvento" value="${evento.tipologiaEvento}">
      <p>Nome:</p>
      <input type="text" name="nome" value="${evento.nome}">
      <p>Nome Aula:</p>
      <input type="text" name="a_name" value="${evento.aula.nome}">
      <p>Corso:</p>
      <input type="text" name="corso" value="${evento.corso.nome}">
      <p>Email Responsabile:</p>
      <input type="text" name="emailR" value="${evento.responsabile.email}">
      <p>Giorno:</p>
      <input type="date" name="giorno" value="${evento.data?string('yyyy-MM-dd')}">
      <#if evento.ricorrenza !="NESSUNA">
        <p>Ricorrenza:</p>
        <input type="text" name="ricorrenza" value="${evento.ricorrenza}">
        <p>Data Fine Ricorrenza:</p>
        <input type="text" name="dataFineRicorrenza" value="${evento.dataFineRicorrenza?string('yyyy-MM-dd')}">
        <#else>
          <input type="hidden" name="dataFineRicorrenza" value="0">
          <input type="hidden" name="ricorrenza" value="NESSUNA">
      </#if>
      <input type="submit" name="conf" value="Conferma">
      <input type="submit" name="delete" value="Elimina">
    </form>
</#if>
