<h2>Aula: ${aula.nome}</h2>
<div id="carAula"></div>
<p>Caratteristiche Aula</p>
<center>
 <table id = "TCarAula" border="1" 
    <tr>
        <td>Luogo</td>
        <td>Edificio</td>
        <td>Piano</td>
        <td>Capienza</td>
        <td>Prese Elettriche</td>
        <td>Prese di Rete</td>
    </tr>
    <tr>
        <td>${aula.luogo}</td>
        <td>${aula.edificio}</td>
        <td>${aula.piano}</td>
        <td>${aula.capienza}</td>
        <td>${aula.preseElettriche}</td>
        <td>${aula.preseRete}</td>
    </tr>
</table> 
</center>

