
<h1> Eventi Nelle Prossime 3 Ore </h1>

<#if eventi?has_content>

<table class="tableStyle">
    <tr class="tableTitle">
        <th>Nome</th>
        <th>Ora Inizio</th>
        <th>Ora Fine</th>
        <th>Descrizione</th>
        <th>Tipologia Evento</th>
        <th>Data</th>
        <th>Responsabile</th>
        <th>Corso</th>
        <th>Aula</th>
    </tr>
    <!-- Qui inserisci i dati della tabella -->

    <#list eventi as evento>
     <tr class="tableContent">
        <td>${evento.nome}</td>
        <td>${evento.oraInizio}</td>
        <td>${evento.oraFine}</td>
        <td>${evento.descrizione}</td>
        <td>${evento.tipologiaEvento}</td>
        <td>${evento.data}</td>
        <td>${evento.responsabile.nome}</td>
        <td>${evento.corso.nome}</td>
        <td>${evento.aula.nome}</td>
    </tr>
    </#list>
    
</table>
<#else>
<h2>Nessun Evento Trovato</h2>
</#if>