<div class="row" id="header" >
    <div class="sixteen columns">
        <div class="sinistra"> 
        <ul class="breadcrumb">
            <li><a href="listadipartimenti">Homepage</a></li>
            <li><a href="gestionedipartimenti">Gestione Dipartimenti</a></li>    
             <li><a href=gestioneaule?IDdipartimento=${aula.dipartimento.key}>${aula.dipartimento.nome}</a></li>     

        </ul>
    </div> 
    </div>
</div>
<h2>Eventi programmati per l'aula: ${aula.nome}</h2>

<a href="gestioneeventi?IDaula=${aula.key}&data=${settiamanaprecedente}"> <button class="classical-button">Settimana Precedente</button></a> &nbsp;<a href="gestioneeventi?IDaula=${aula.key}&data=${settimanasuccessiva}"> <button class="classical-button">Settiamana Prossima</button></a>
<#if (eventi?size>0)>
<table id="aule">
    <tr>
    <th>Evento</th>
    <th>Tipologia</th>
    <th>Corso</th>
    <th>Giorno</th>
    <th>Aula</th>
    <th>Ora Inizio</th>
    <th>Ora Fine</th>
    <th>Gestione Evento</th>
    </tr>
    <#list eventi as evento>
     
    <tr>
        <td> ${evento.nome} </td>
        <td> ${evento.tipologia} </td>
        <td> <#if (evento.corso??)>${evento.corso.nome}</#if> </td>
        <td> ${evento.giorno}</td>
        <td> ${evento.aula.nome}</td>
        <td> ${evento.oraInizio}</td>
        <td> ${evento.oraFine}</td>
        <td><a style="color:red; font-weight: bold;" href="gestioneeventi?IDevento=${evento.key}&IDaula=${aula.key}&data=${data}">Modifica</a></td>
    </tr>
    </#list>
</table>
</#if>
<p><a href="gestioneeventi?IDevento=0&IDaula=${aula.key}"><button class="classical-button">Aggiungi Evento</button></a></p>