<div id="header">
    <nav>
        <ul>
            <!-- Pulsante Homepage -->
            <li><a href="Homepage"><button>Homepage</button></a></li>

            <!-- Se l'utente è loggato -->
            <#if logininfo??>
                <!-- Altri link -->
                <li><a href="GestioneDipartimenti"><button>Gestione Dipartimenti</button></a></li>
                <li><a href="GestioneAule"><button>Gestione Aule</button></a></li>
                <li><a href="GestioneEventi"><button>Gestione Eventi</button></a></li>
                <!-- Pulsante Logout (sempre in fondo alla lista) -->
                <li>Utente: ${logininfo.username} <a href="logout?referrer=${thispageurl?url}"><button class="login-button">Logout</button></a></li>
            <#else>
                <!-- Pulsante Login -->
                <li><a href="login?referrer=${thispageurl?url}"><button>Login</button></a></li>
            </#if>
        </ul>
    </nav>
</div>


