<!DOCTYPE html>

<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
    </head>
    <body>
        <section class="main-content">
            <div class="container">
                <h2>Benvenuti sulla Homepage</h2>
                <p>Sto testando il CSS</p>
            </div>
            <div class="link">
                <nav>
                    <ul>
                        <li><a href="AulaSelezionata?d=${dipartimento1.key}">Matematica</a></li>
                        <li><a href="AulaSelezionata?d=${dipartimento2.key}">Fisica</a></li>
                        <li><a href="AulaSelezionata?d=${dipartimento3.key}">Biologia</a></li>                        
                    </ul>
                </nav>
            </div>
        </section>
    </body>
</html>
