<div class="homeContainer">
    <h1>Benvenuti sulla Homepage</h1>
    <h3>Scegliere un dipartimento per iniziare la ricerca</h3>
</div>           

<div class="container">
    <div class="image-row">
        <div class="image-item">
            <a href="SceltaCriterio?dip_key=${dipartimento1.key}">
                <img src="images/img_1.jpg" alt="Immagine 1" width="500" height="200">
                <p>Matematica</p>
            </a>
        </div>
        <div class="image-item">
            <a href="SceltaCriterio?dip_key=${dipartimento2.key}">
                <img src="images/img_2.png" alt="Immagine 2" width="500" height="400">
                <p>Fisica</p>
            </a>
        </div>
        <div class="image-item">
            <a href="SceltaCriterio?dip_key=${dipartimento3.key}">
                <img src="images/img_3.jpg" alt="Immagine 3" width="500" height="200">
                <p>Biologia</p>
            </a>
        </div>
    </div>
</div>


