<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
   
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet"  href="style/layoutStyle.css" type="text/css" />
        <title>Il Titolo</title>
    </head>
    
    
    <body>
        <div class="content">
            <#include "header.ftl.html">

            <div class = "vista_centrale">
                <#include content_tpl>
            </div>
            
            <#include "footer.ftl.html">

        </div>

    </body>
</html>
