<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
   
    <head>
        <link rel="stylesheet"  href="style/layoutStyle.css" type="text/css" />
        <title>mio titolo</title>
    </head>
    
    
    <body>
        <div class="content">
            
            <#include "header.ftl.html">

            <div class = "vista_centrale">
                <#include center_view>
            </div>
            
            <#include "footer.ftl.html">

        </div>

    </body>
</html>
