<h1>Test metodi GET del DB</h1>
<p>Amministratore: [${amministratore.username}, ${amministratore.password}]</p>
<p>Dipartimento [${dipartimento.nome}, ${dipartimento.descrizione}]</p>
<p>Aula: [${aula.nome}, ${aula.luogo}, ${aula.edificio}, ${aula.piano}, ${aula.capienza}, ${aula.preseElettriche}, ${aula.preseRete}, ${aula.note}]</p>   
<p>Attrezzatura: [${attrezzatura.nome}]</p>   
<p>Evento: [${evento.nome}, ${evento.oraInizio}, ${evento.oraFine}, ${evento.descrizione}, ${evento.nome}, ${evento.ricorrenza}, ${evento.dataInizio}, ${evento.dataFine}]</p>   

<p>NB. evento.tipologiaEvento da problemi, da risolvere</p>

