/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 11, 2023, 4:36:21 PM
    Author     : alessandro
*/
body{
    background-color: #EDE8AA
}

.container{
    background-color: #ECE8D9
        
}
