body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #363b4a;
    color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    color: #fff;
}

.main-content {
    padding: 40px 0;
}

#header {
    background-color: #46679c;
    color: #264224;
    padding: 20px 0;
    text-align: center;
}

#footer {
    background-color: #46679c;
    color: #264224;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.link a{
    padding: 40px 0;
    color: #ffd700;
}
