<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>AulaSelezionata</servlet-name>
        <servlet-class>controllers.AulaSelezionata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Homepage</servlet-name>
        <servlet-class>controllers.Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>controllers.Test</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>GestioneDipartimenti</servlet-name>
        <servlet-class>controllers.GestioneDipartimenti</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestioneDipartimenti</servlet-name>
        <url-pattern>/GestioneDipartimenti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AulaSelezionata</servlet-name>
        <url-pattern>/AulaSelezionata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/Homepage</url-pattern>
    </servlet-mapping>

    <!--- __________________ Parametri per il Template __________________ -->
    <!-- template di outline -->
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>layout.ftl.html</param-value>
    </context-param>
    <!-- Encoding -->
    <context-param>
        <param-name>view.encoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>
    <!-- Cartella dove ci sono i templates -->
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>templates</param-value>
    </context-param>
    <!-- In caso di errore con i templates-->
    <context-param>
        <param-name>view.error_template</param-name>
        <param-value>error.ftl.html</param-value>
    </context-param>
    <!-- Utile per il Debug-->
    <context-param>
        <param-name>view.debug</param-name>
        <param-value>true</param-value>
    </context-param>
    <!--- __________________ Fine Parametri per il Template __________________ -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- Servlet di avvio quando si entra nel path generico dell'app -->
    <welcome-file-list>
        <welcome-file>Homepage</welcome-file>
    </welcome-file-list>
    <!-- DA qui incertezze -->
    <resource-ref>
        <res-ref-name>jdbc/auleDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <context-param>
        <param-name>data.source</param-name>
        <!-- qui configuriamo in nome della data source da usare nel codice -->
        <param-value>jdbc/auleDB</param-value>
    </context-param>
</web-app>
